body {
	background-color: #c9e5f0;
}

div[role="document"],
.wp-block {
	max-width: 850px;
	margin-left: auto;
	margin-right: auto;
}

.wp-block[data-align="full"] {
	max-width: none;
}
.wp-block[data-align="wide"] {
	max-width: 1000px;
}
