/* ----------------------------------------
    
    Custom CSS By Naeem Hussain
    Email : naeemnh@outlook.com

---------------------------------------- */

.content-area {
	padding-top: 95px;
	padding-bottom: 100px;
}
