/* ----------------------------------------
    
    Custom CSS By Naeem Hussain
    Email : naeemnh@outlook.com

---------------------------------------- */

.header-logo img {
    height: auto;
    width: auto;
}

.content-area {
    padding-top: 95px;
    padding-bottom: 100px;
}

.feedback-form .form-group.group-input .wpcf7-form-control-wrap:first-child {
    margin-right: 1.5em !important;
}

.wpcf7-form-control-wrap {
    flex: 50%;
}

.introduction-img_area .inner-img {
    background-color: #1a55a5;
}

.bg-smoke_color .introduction-img_area .inner-img {
    background-color: transparent;
    box-shadow: none;
}

.intro-content p.short-desc,
.introduction-area-3 .section-wrap p.short-desc {
    font-size: 20px;
}

.services-item .services-content p.short-desc {
    color: white;
}

.ticket-area .ticket-item .heading-wrap h2.heading {
    color: #1a55a5;
}

.newsletter-area {
    background-color: #1a55a5;
}

.services-area [class*="col-"]:not(:nth-child(n+4)) .services-item {
    padding: 20px;
    margin-bottom: 30px;
}

.services-area .col-lg-6 .services-item {
    padding: 20px;
    background-color: #1a55a5;
    border-radius: 20px;
}

.services-item>* {
    width: 50%;
}

.pricing-plans_area .tab-section_area {
    padding-bottom: 20px;
}

.offer-btn {
    -webkit-box-shadow: 0px 8px 15px rgb(0 0 0 / 0%);
    box-shadow: 0px 8px 15px rgb(0 0 0 / 0%);
    background-color: #1054c8;
    border: 1px solid transparent;
    color: #ffffff;
    width: 160px;
    height: 50px;
    line-height: 50px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 1px;
    margin: auto;
}

.offer-info {
    text-align: center;
    width: 160px;
    margin: 14px auto;
    font-size: 12px;
}

.pricing-plans_area .pricing-plans_item span.price strong {
    font-size: 48px;
}

.blue-border {
    border: 2px solid #1a55a5;
}

.blue-border:hover,
.blue-border:active {
    border: 2px solid #fff;
}

.grey-color {
    color: #333;
}

.blue-border:hover .grey-color,
.blue-border:active .grey-color {
    color: #fff;
}

.white-color {
    color: #fff;
}

@media (max-width: 768px) {
    .services-item>* {
        width: 100%;
    }

    .introduction-img_area {
        margin-right: 0;
    }

    .introduction-img_area .inner-img {
        top: 0;
        left: 0;
    }

    .services-item {
        flex-direction: column;
    }

    .col-lg-2 .footer-widgets_area {
        padding-bottom: 0;
    }

    .col-lg-3 .widgets-heading {
        display: none;
    }
}