/* ----------------------------------------
    
    Custom CSS By Naeem Hussain
    Email : naeemnh@outlook.com

---------------------------------------- */

.single-post_item ul,
.single-post_item ol {
    list-style: initial;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

.entry-meta ul {
    padding: 0;
    list-style: none;
}

.header-logo img {
    height: auto;
    width: 200px;
}

.content-area {
    padding-top: 95px;
    padding-bottom: 100px;
}

.home-slider .slide-item.bg-1 {
    background-position: 0 0;
}

.home-slider .slide-item.bg-1 .slide-content {
    margin: auto auto 0;
}

.home-slider .slide-content>h1.heading:first-child {
    font-weight: 600;
}

.home-slider .slide-content>h1.heading>span {
    color: white;
}

.breadcrumb-area {
    background-color: #1a55a5;
}

.entry-view a {
    font-size: inherit;
}

.feedback-form .form-group.group-input .wpcf7-form-control-wrap:first-child {
    margin-right: 1.5em !important;
}

.wpcf7-form-control-wrap {
    flex: 50%;
}

.introduction-img_area .inner-img {
    background-color: #1a55a5;
}

.bg-smoke_color .introduction-img_area {
    background-color: transparent;
}

.bg-smoke_color .introduction-img_area .inner-img {
    background-color: transparent;
    box-shadow: none;
}

.intro-content p.short-desc,
.intro-content p,
.introduction-area-3 .section-wrap p,
.introduction-area-3 .section-wrap p.short-desc {
    font-size: 20px;
    line-height: 26px;
}

.introduction-slider .intro-item .intro-content>p {
    color: #ababab;
}

/* ---------------------- What Human Hub Offers ---------------------- */

.services-item .services-content p.short-desc,
.service .service-content p.short-desc {
    color: white;
}

.services-area [class*="col-"]:not(:nth-child(n+4)) .services-item {
    padding: 20px;
    margin-bottom: 30px;
}

.services-area .col-lg-6 .services-item {
    padding: 20px;
    background-color: #1a55a5;
    border-radius: 20px;
}

.services-item>* {
    width: 50%;
}

.service {
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 20px;
    background: #1a55a5;
    padding: 8% 14%;
}

.service>* {
    flex: 1 2 0;
}

.services-area .col-md-6:nth-child(2) .service.flex-column:nth-child(2) {
    padding-bottom: 13%;
}

.ticket-area .ticket-item .heading-wrap h2.heading {
    color: #1a55a5;
}

.newsletter-area {
    background-color: #1a55a5;
}

.pricing-plans_area .tab-section_area {
    padding-bottom: 20px;
}

.pricing-plans_menu li {
    position: relative;
}

.pricing-plans_menu span {
    display: block;
    font-size: 12px;
    color: rgb(206, 214, 91);
    font-weight: 700;
    text-align: center;
    position: absolute;
    bottom: -3px;
    right: 30px;
}

.pricing-plans_area .tab-section_area .pricing-plans_tab>ul.pricing-plans_menu>li>a {
    padding: 6.5px 26px 13.5px
}

.pricing-plans_menu li:nth-child(1) span {
    color: transparent
}

.offer {
    margin-right: -12%;
}

.offer-btn {
    -webkit-box-shadow: 0px 8px 15px rgb(0 0 0 / 0%);
    box-shadow: 0px 8px 15px rgb(0 0 0 / 0%);
    background-color: #1054c8;
    border: 1px solid transparent;
    color: #ffffff;
    width: 160px;
    height: 50px;
    line-height: 50px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 1px;
    margin: auto;
}

.offer-info {
    text-align: center;
    width: 160px;
    margin: 14px auto;
    font-size: 12px;
}

.pricing-plans_area .pricing-plans_item span.price strong {
    font-size: 48px;
}

.blue-border {
    border: 2px solid #1a55a5;
}

.blue-border:hover,
.blue-border:active {
    border: 2px solid #fff;
}

.grey-color {
    color: #333;
}

.blue-border:hover .grey-color,
.blue-border:active .grey-color {
    color: #fff;
}

.white-color {
    color: #fff;
}

/* ----------------------------------------
    Newsletter
---------------------------------------- */

.quick_form_20_css {
    border-radius: 8px;
    width: 100% !important;
    padding: 14px 30px;
}

#SIGNUP_HEADING {
    font-size: 18px !important;
    font-family: Roboto, sans-serif !important;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#zcampaignOptinForm div:nth-child(2),
#zcampaignOptinForm div:nth-child(3) {
    width: 100% !important;
}

#zcampaignOptinForm div:nth-child(4) {
    width: fit-content !important;
}

#zcampaignOptinForm input[type=text] {
    text-align: center !important;
}

#zcampaignOptinForm input[type=text]::placeholder {
    color: white
}

#zcampaignOptinForm input[type=button] {
    font-size: 14px !important;
    padding: 10px 20px;
}

/* ----------------------------------------
    Responsive
---------------------------------------- */

@media (min-width: 768px) {
    .services-area .col-md-6 {
        display: flex;
        flex-direction: column;
        gap: 3%;
        justify-content: space-between;
        align-items: stretch;
    }

    .service.flex-column {
        height: 70%;
    }

    .service.flex-md-row {
        height: 35%;
    }
}

@media (max-width: 768px) {
    .services-item>* {
        width: 100%;
    }

    .introduction-img_area {
        margin-right: 0;
    }

    .introduction-img_area .inner-img {
        top: 0;
        left: 0;
    }

    .services-item {
        flex-direction: column;
    }

    .service {
        margin-bottom: 5%;
    }

    .service.flex-column:nth-child(2) {
        padding: 8% 14%;
    }

    .col-lg-2 .footer-widgets_area {
        padding-bottom: 0;
    }

    .col-lg-3 .widgets-heading {
        display: none;
    }

    #zcampaignOptinForm input[type=text] {
        width: 80% !important;
    }
}